.card-text{
    color: crimson;
    font-weight: 800;
}
.card-title{
    font-weight: 700;
}
nav #navbar1{
    color: white;
    background-color: aqua;
}
nav{
    color: #fff;
}
.hello-msg{
    font-size: 18px;
    margin-right: 80px;
}
