.card-text{
    color: crimson;
    font-weight: 800;
}
.card-title{
    font-weight: 700;
}
nav #navbar1{
    color: white;
    background-color: aqua;
}
nav{
    color: #fff;
}
.card-text{
    color: crimson;
    font-weight: 800;
}
.card-title{
    font-weight: 700;
}
nav #navbar1{
    color: white;
    background-color: aqua;
}
nav{
    color: #fff;
}
.details{
    text-align: center;
    text-transform: uppercase;
}
#product-info #price{
    color: crimson;
}
#product-info p{
    font-size: 12px;
}
.ced{
    color: purple;
}
#product-info .store{
    background-color: purple;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
}
#product-info .discount{
    color: #0457ae;
}
#product-info .discount-price{
    color: crimson;
}
.hello-msg{
    font-size: 18px;
    float: right;
    margin-right: 80px;
}
.carousel-item{
    height: 32rem;
    background: #777;
    color: #fff;
    position: relative;
  }
  .conti{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;

  }
  #cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
  }

  #cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
  }
  .card-text {
    color: #f04a26;
    font-weight: 800;
  }
  .over-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
  }
  