{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
{% block meta %}
<title>{{about.meta_title}}</title>
<meta name="description" content="{{about.meta_description}}">
<meta name="keywords" content="{{about.meta_keywords}}">

<link rel="canonical" href="https://therealfamilyproducts.com/about">

<meta name="image" content="{{about.ImageURL}}">



<meta property="og:title" content="{{about.meta_title}}">
<meta property="og:description" content="{{about.meta_description}}">
<meta property="og:image" content="{{about.ImageURL}}">
<meta property="og:url" content="https://therealfamilyproducts.com/about">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{about.meta_title}}">
<meta name="twitter:description" content="{{about.meta_description}}">
<meta name="twitter:image" content="{{about.ImageURL}}">
{% endblock meta %}

<!-- hero-section -->
<section class="hero-section about gap" style="background-image: url(../static/images/background.png);">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
				<div class="about-text">
					<ul class="crumbs d-flex">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li class="two"><a href="{% url 'index' %}"><i class="fa-solid fa-right-long"></i> About Us</a>
						</li>
					</ul>
					<h2>{{about.short_description}}</h2>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
				<div class="about-img">
					<img alt="man" src="{{about.ImageURL}}">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- video-section -->
<section class="video-section gap">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
				<div class="wait-a-minute">
					<h2>ABOUT US</h2>
					<p>{{about.about_the_company}}</p>
				</div>
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
				<div class="video-section-img">
					<img alt="elements" src="{{about.Imageurl}}">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- our-mission-section -->
<section class="our-mission-section gap">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12 col-sm-12" data-aos="flip-up" data-aos-delay="300" data-aos-duration="400">
				<div class="our-mission-img">
					<img alt="Illustration" src="{{about.ImageURL}}">
				</div>
			</div>
			<div class="offset-xl-1 col-lg-5 col-md-12 col-sm-12" data-aos="flip-up" data-aos-delay="400"
				data-aos-duration="500">
				<div class="our-mission-text">
					<h2>Our mission is to save you time</h2>
					<p>{{about.mission}}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- about-counters-section -->
<section class="about-counters-section gap" style="background-image: url(../static/images/background-1.png);">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-12 col-sm-12" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
				<div class="about-counters-img">
					<img alt="" src="https://via.placeholder.com/560x595">
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12" data-aos="flip-up" data-aos-delay="300" data-aos-duration="400">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="counter-hading">
							<h2>Service shows good taste.</h2>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="count-time">
							<h2 class="timer count-title count-number" data-to="976" data-speed="2000">976</h2>
							<p>Satisfied<br>Customer</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6" data-aos="flip-up" data-aos-delay="300"
						data-aos-duration="400">
						<div class="count-time">
							<h2 class="timer count-title count-number" data-to="12" data-speed="2000">12</h2>
							<p>Best<br>
								Restaurants</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="count-time sp">
							<h2 class="timer count-title count-number" data-to="1" data-speed="2000">1</h2>
							<span>k+</span>
							<p>Food<br>
								Delivered</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Our Team Section -->
	<section class="our-team-section gap">
		<div class="container">
			<div class="hading" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
				<h2>Our team</h2>
				<p></p>
			</div>
			<div class="row">
				{% for member in team %}
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">
					<div class="our-team">
						<img alt="team-img" src="{{member.ImageURL}}">
						<h4>{{member.name}}</h4>
						<p>{{member.position}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
<!-- Our partners Section -->
<section class="our-partners-section gap" style="background:#fcfcfc" data-aos="fade-up" data-aos-delay="200"
	data-aos-duration="300">
	<div class="container">
		<div class="hading">
			<h2>Our trusted partners</h2>
		</div>
		<div class="row align-items-center logodata owl-carousel owl-theme">
			{% for partner in partners %}
			<div class="col-xl-12 item">
				<div class="logo-img">
					<img alt="logo-img" src="{{partner.ImageURL}}">
					<h5>{{partner.name}}</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Our partners Section -->
<section class="service-shows gap" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-lg-12">
				<div class="good-taste">
					<h2>Service shows good taste.</h2>
					<p></p>
				</div>
			</div>
			<div class="col-xl-8 col-lg-12">
				<div class="comment-data comment-slide owl-carousel owl-theme">
					{% for i in test %}
					<div class="author-text item">
						<p>
							"{{i.testimony}}".</p>
						<div class="thomas">
							<img alt="girl" src="https://via.placeholder.com/70x70">

							<div>
								<h6>{{i.name}}</h6>
								{% for _ in ''|ljust:i.stars  %}
								<i class="fa-solid fa-star"></i>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</section>
<!-- subscribe-section -->
<section class="subscribe-section about gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="get-the-menu">
					<h2 data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">Get updates of your favorite
						products every day</h2>
					{% for m in messages %}
					<div class="alert alert-success" role="alert">
						{{m}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% endfor %}
					<form data-aos="fade-up" data-aos-delay="300" data-aos-duration="400" id="form">
						{% csrf_token %}
						<i class="fa-regular fa-bell"></i>
						<input id="email" type="text" name="email" placeholder="Enter email address">
						<button class="button button-2">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$(document).on('submit', '#form', function (e) {
    e.preventDefault();
    $('.page-loader').fadeIn();
    var email = document.getElementById("email").value;
    $.ajax({
        type: 'POST',
        url: "{% url 'subscribe' %}",
        data:{
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'action': 'post',
            'email': email,
        },
        success: function (json) {
            location.reload();
			$('.page-loader').fadeOut();
        },
        error: function (xhr, errmsg, err) {

        }
})
});
</script>
{% endblock content %}