{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="icon" href="{% static 'images/fav-icon.png' %}">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- owl carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <!-- nice-select -->
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <!-- style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- responsive -->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <!-- color -->
  <link rel="stylesheet" href="{% static 'css/color.css' %}">


  <!-- Font Awesome 5 -->
  <script src="https://kit.fontawesome.com/27a041baf1.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="{% static 'shop/style1.css' %}" />

  {% block title %} {% endblock title %}
  <!--<script type="text/javascript" src="{% static 'shop/all.js' %}"></script> -->
</head>
<body>
<!-- loader start-->
<div class="page-loader">
	<div class="wrapper">
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="shadow"></div>
		<div class="shadow"></div>
		<div class="shadow"></div>
		<span>Loading</span>
	</div>
</div>
<!-- loader end-->

<!-- header -->
<header id="sticky-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl-2">
				<div class="header-style">
					<a href="{% url 'index' %}">

						<img height="60" viewBox="0 0 163 38" src="{% static 'images/main_logo.svg' %}" alt="">

					</a>
					<div class="extras bag">

						<a href="{% url 'check' %}" class="menu-btn">
							<i class="fa-solid fa-bag-shopping">
								<span class="cart-count" id="cart-total">
									{% with total=cart|length %}
										{% if total > 0 %}
											{{total}}
										{% else %}
											0
										{% endif %}
									{% endwith %}
								</span>
							</i>

							</p>
						</a>

						<div class="bar-menu">
							<i class="fa-solid fa-bars"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<nav class="navbar">
					<ul class="navbar-links">
						<li class="navbar-dropdown {% if url is 'index' %} active {% endif %}">
							<a href="{% url 'index' %}">Home</a>
						</li>
						<li class="navbar-dropdown">
							<a href="{% url 'about' %}">About Us</a>
						</li>

						<li class="navbar-dropdown">
							<a href="{% url 'products' %}">Products</a>
						</li>
						<li class="navbar-dropdown">
							<a href="{% url 'blog' %}">Blog & News</a>
						</li>



						<li class="navbar-dropdown">
							<a href="{% url 'contacts' %}">Contacts</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3">
				<div class="extras bag">
					<a href="{% url 'check' %}" id="desktop-menu" class="menu-btn">

						<i class="fa-solid fa-bag-shopping">
							<p class="cart-count" id="cart-total1">
								{% with total=cart|length %}
										{% if total > 0 %}
											{{total}}
										{% else %}
											0
										{% endif %}
									{% endwith %}
							</p> <!-- Move the cart count span inside the cart icon -->
						</i></a>
				</div>
			</div>
			<div class="menu-wrap">
				<div class="menu-inner ps ps--active-x ps--active-y">
					<span class="menu-cls-btn"><i class="cls-leftright"></i><i class="cls-rightleft"></i></span>
				</div>
			</div>

			<div class="mobile-nav hmburger-menu" id="mobile-nav" style="display:block;">


				<div class="res-log">
					<a href="{% url 'index' %}">
						<svg xmlns="http://www.w3.org/2000/svg" width="163" height="38" viewBox="0 0 163 38">
							<g id="Logo" transform="translate(-260 -51)">
								<g id="Logo-2" data-name="Logo" transform="translate(260 51)">
									<g id="Elements">
										<path id="Path_1429" data-name="Path 1429"
											d="M315.086,140.507H275.222v-.894c0-11.325,8.941-20.538,19.933-20.538s19.931,9.213,19.931,20.538Z"
											transform="translate(-270.155 -115.396)" fill="#f29f05" />
										<path id="Path_1430" data-name="Path 1430"
											d="M301.13,133.517a1.488,1.488,0,0,1-1.394-.994,11.361,11.361,0,0,0-10.583-7.54,1.528,1.528,0,0,1,0-3.055,14.353,14.353,0,0,1,13.37,9.527,1.541,1.541,0,0,1-.875,1.966A1.444,1.444,0,0,1,301.13,133.517Z"
											transform="translate(-264.176 -113.935)" fill="#fff" />
										<path id="Path_1431" data-name="Path 1431"
											d="M297.343,146.544a14.043,14.043,0,0,1-13.837-14.211h2.975a10.865,10.865,0,1,0,21.723,0h2.975A14.043,14.043,0,0,1,297.343,146.544Z"
											transform="translate(-266.247 -108.544)" fill="#363636" />
										<path id="Path_1432" data-name="Path 1432"
											d="M302.183,132.519a7.064,7.064,0,1,1-14.122,0Z"
											transform="translate(-264.027 -108.446)" fill="#363636" />
										<path id="Path_1433" data-name="Path 1433"
											d="M320.332,134.575H273.3a1.528,1.528,0,0,1,0-3.055h47.033a1.528,1.528,0,0,1,0,3.055Z"
											transform="translate(-271.815 -108.923)" fill="#f29f05" />
										<path id="Path_1434" data-name="Path 1434"
											d="M289.154,123.4a1.507,1.507,0,0,1-1.487-1.528v-3.678a1.488,1.488,0,1,1,2.975,0v3.678A1.508,1.508,0,0,1,289.154,123.4Z"
											transform="translate(-264.154 -116.667)" fill="#f29f05" />
										<path id="Path_1435" data-name="Path 1435"
											d="M284.777,138.133H275.3a1.528,1.528,0,0,1,0-3.055h9.474a1.528,1.528,0,0,1,0,3.055Z"
											transform="translate(-270.84 -107.068)" fill="#363636" />
										<path id="Path_1436" data-name="Path 1436"
											d="M284.8,141.691h-6.5a1.528,1.528,0,0,1,0-3.055h6.5a1.528,1.528,0,0,1,0,3.055Z"
											transform="translate(-269.379 -105.218)" fill="#363636" />
									</g>
								</g>
								<text id="Quickeat" transform="translate(320 77)" fill="#363636" font-size="20"
									font-family="Poppins" font-weight="700">
									<tspan x="0" y="0">QUICK</tspan>
									<tspan y="0" fill="#f29f05">EAT</tspan>
								</text>
							</g>
						</svg>
					</a>
				</div>
				<ul>

					<li><a href="{% url 'index' %}">Home</a>
					</li>

					<li><a href="{% url 'about' %}">About Us</a></li>

					<li><a href="{% url 'products' %}">Products</a></li>


					</li>

					<li><a href="{% url 'contacts' %}">contacts</a></li>

				</ul>

				<a href="" id="res-cross"></a>
			</div>
		</div>
	</div>
</header>
{% block content %}


{% endblock content %}
<!-- footer -->
<footer class="gap no-bottom" style="background-color: #363636;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="footer-description">
                    <a href="{% url 'index' %}">
                        

<img height="150" viewBox="0 0 163 38" src="{% static 'images/main_logo_w.svg' %}" alt="">
                    </a>
                    <h2>Sauces For Your Home Meals</h2>
                    <p>{{footer.short_company_description}}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="menu">
                    <h4>Menu</h4>
                    <ul class="footer-menu">
                        <li><a href="{% url 'index' %}">home<i class="fa-solid fa-arrow-right"></i></a></li>
                        <li><a href="{% url 'about' %}">about us<i class="fa-solid fa-arrow-right"></i></a></li>
                        <li><a href="{% url 'contacts' %}">Contacts<i class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="menu contacts">
                    <h4>Contacts</h4>
                    <div class="footer-location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>{{footer.address}}</p>
                    </div>
                    <a href="mailto:quickeat@mail.net"><i class="fa-solid fa-envelope"></i>{{footer.email}}</a>
                    <a href="callto:+14253261627"><i class="fa-solid fa-phone"></i>{{footer.phone}}</a>
                </div>
                <ul class="social-media">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
            </div>
        </div>
        <div class="footer-two gap no-bottom">
            <p>Copyright © 2022. Quickeat. All rights reserved.</p>
            <div class="privacy">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Services</a>
            </div>
        </div>
    </div>
</footer>
<script>
	$(document).on('click', '#add-cart', function (e){
	  e.preventDefault();
	  let productId = $(this).data('product');
      let quantity = $('#qty' + productId).val();
	  console.log(quantity);
	  $.ajax({
		type: 'POST',
		url: "{% url 'cart_item' %}" ,
		data: {
		  productid: $(this).data('product'),
		  productqty: quantity,
		  csrfmiddlewaretoken: '{{ csrf_token }}',
		  action: 'post'
		},
		success: function (json){
		console.log(json);
		  document.getElementById('cart-total').innerHTML = json.cart
		  document.getElementById('cart-total1').innerHTML = json.cart
		},
		error: function (xhr, errmsg, err) {
	
		}
	  });
	});
	</script>
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- jQuery -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<!-- owl.carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- aos -->
<script src="{% static 'js/aos.js' %}"></script>
<!-- custom -->
<script src="{% static 'js/custom.js' %}"></script> 

<script src="{% static 'js/script.js' %}"></script> 
       


       <!--<a href="/{{ product.id }}" class="btn btn-outline-primary">View</a>--> 
        
</body>

</html>