{% extends "shop/base.html" %}
{% block content %}
{% load static %}

{% block meta %}
<title>{{ product_object.title }} | Real Family Sauce</title>
<meta name="description" content="{{ product_object.description }} | Real Family Sauce Products Ltd.">
<meta name="keywords" content="Chili sauces, BBQ sauce, tomato ketchup, garlic sauce, pickles, soy sauce, jams, high-quality food products">

<link rel="canonical" href="https://realfamilyproducts.com/product/{{ product_object.id }}">


<meta name="image" content="{{ product_object.imageURL }}">

<meta property="og:title" content="{{ product_object.title }} | Real Family Sauce">
<meta property="og:description" content="{{ product_object.description }} | Real Family Sauce Products Ltd.">
<meta property="og:image" content="{{ product_object.imageURL }}">
<meta property="og:url" content="{% url 'detail' id=product_object.id %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ product_object.title }} | Real Family Sauce">
<meta name="twitter:description" content="{{ product_object.description }} | Real Family Sauce Products Ltd.">
<meta name="twitter:image" content="{{ product_object.imageURL }}">
{% endblock meta %}
  <!-- hero-section -->
  <section class="hero-section about single-blog gap" style="background-image: url(../static/images/background-3.png);" data-aos="flip-up"  data-aos-delay="300" data-aos-duration="400">
			<div class="container">
				<div class="row align-items-center">
					<div class="offset-xl-2 col-xl-6 col-lg-12">
						<div class="about-text">
							<ul class="crumbs d-flex">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'products' %}"><i class="fa-solid fa-right-long"></i>products</a></li>
								<li class="two"><a href="{% url 'detail' id=product_object.id %}"><i class="fa-solid fa-right-long"></i>product</a></li>
							</ul>
							
						</div>
					</div>
					
					
				</div>
			</div>
  </section>
<!-- product-detail-section -->
<section class="product-detail-section">
    <div class="container dish-foods">
        <div class="row">
            <div class="col-lg-4">
                <div class="dish details">
                    <img src="{{ product_object.imageURL }}" alt="Product Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details">
                    <div class="about-text">
                        <h2>{{ product_object.title }}</h2>
                        <p>{{ product_object.description }}</p>
                        
                        <p>Availability: In Stock</p>
                    </div>
                    
                    <div class="product-options">
                        <div class="price">
                            <h3 style="color: #B21807; font-weight: bold;">ZMW {{ product_object.price }}</h3>
                            <div class="qty-input">
                                  <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                                  <input id="qty{{ product_object.id }}" class="product-qty" type="number" name="product-qty" min="5" value="5">
                                  <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                              </div>
                          </div>
                          <button data-product="{{ product_object.id }}" data-action="add" id="add-cart" class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i></button>
                   </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
{% endblock content %}
