{% extends "shop/base.html" %}

{% block content %}

{% load static %}
{% block meta %}
<title>Real Family Sauce Products Ltd | Premium Food Products in Zambia</title>
<meta name="description" content="Discover high-quality chili sauces, tomato products, BBQ sauce, and more at Real Family Sauce Products Ltd. Proudly serving local and international markets with delicious and nutritious food options.">
<meta name="keywords" content="Zambia food products, premium sauces, Real Family Sauce, nutritious food, international markets">

<link rel="canonical" href="https://realfamilyproducts.com">

<meta name="image" content="{{details.ImageURL}}">

<meta property="og:title" content="Real Family Sauce Products Ltd | Premium Food Products in Zambia">
<meta property="og:description" content="Discover high-quality chili sauces, tomato products, BBQ sauce, and more at Real Family Sauce Products Ltd. Proudly serving local and international markets with delicious and nutritious food options.">
<meta property="og:image" content="{{details.ImageURL}}">
<meta property="og:url" content="https://realfamilyproducts.com">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Real Family Sauce Products Ltd | Premium Food Products in Zambia">
<meta name="twitter:description" content="Discover high-quality chili sauces, tomato products, BBQ sauce, and more at Real Family Sauce Products Ltd. Proudly serving local and international markets with delicious and nutritious food options.">
<meta name="twitter:image" content="{{details.ImageURL}}">

{% endblock meta %}
<!-- hero-section -->
<section class="hero-section gap" style="background-image: url('static/images/background-1.png');">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
				<div class="restaurant">
					<h1 style="line-height: 60px; margin-top: 60px;">{{details.welcome_text}}</h1>
					<p>{{details.subtext}}</p>
					<div class="nice-select-one">
						
					<a href="{% url 'products' %}" class="button button-2">Order Now</a>
					</div>

				</div>
			</div>
			<!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
				<div class="about-img">
					<img alt="welcome" src="{{details.ImageURL}}">
				</div>
			</div> -->
			<div class="col-lg-6" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="400">
				<div class="img-restaurant">
					<img alt="man" src="{{details.ImageURL}}">
					<!-- <div class="wilmington">
						<img alt="img" src="https://via.placeholder.com/90x90">
						<div>
							<p>Restaurant of the Month</p>
							<h6>The Wilmington</h6>
							<div>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star-half-stroke"></i>
							</div>
						</div>
					</div> -->
					<div class="wilmington location-restaurant">
						<i class="fa-solid fa-location-dot"></i>
						<div>
							<h6>We Deliver</h6>
							<p>To Your city</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- Lunch Section -->
<section class="lunch-section gap" style="background:#fcfcfc">
	<div class="container">
		<h2 data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">Our Products</h2>
		<div class="row">
			{% for product in product_objects %}
			<div class="col-xl-4 col-lg-6" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">

				<div class="dish">
					<a href="{% url 'detail' id=product.id %}">
						<img alt="food-dish" src="{{ product.imageURL }}">
					</a>
					
					<div class="dish-foods">
						<a href="{% url 'detail' id=product.id %}">
							<h3>{{ product.title }}</h3>
						</a>
						
						<!-- <div class="dish-icon">
							<div class="cafa-button">
								<a href="/{{ product.id }}">View product</a>
							</div>
							<div class="dish-icon end">

								<i class="info fa-solid fa-circle-info"></i>
								<div class="star">
									<a href="#"><i class="fa-solid fa-heart"></i></a>
								</div>
							</div>
						</div> -->
						<div class="price">
							<h4 style="color: #B21807; font-weight: bold;">ZMW {{ product.price }}/case</h4>
							<div class="qty-input">
								<button class="qty-count qty-count--minus" data-action="minus"
									type="button">-</button>
								<input id="qty{{ product.id }}" class="product-qty"
									type="number" name="product-qty" min="5" value="5">
								<button class="qty-count qty-count--add" data-action="add"
									type="button">+</button>
							</div>
						</div>
						<button data-product="{{ product.id }}" data-action="add" id="add-cart" class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i>
						</button>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

	</div>
</section>


<!-- About -->
<section class="your-favorite-food gap" style="background-image: url('static/images/background-1.png');">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
				<div class="food-photo-section">
					<img style="border-radius: 20px;" alt="img" src="{{details.ImageUrl}}">

				</div>
			</div>
			<div class="col-lg-6 offset-lg-1" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
				<div class="food-content-section">
					<h2>{{details.company_description_title}}</h2>
					<p>{{details.company_description}}</p>
					<a href="{% url 'about' %}" class="button button-2">More About Us</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- counters-section -->
<!-- <section class="counters-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-6 col-sm-12" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
				<div>
					<h2>We are for you!</h2>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12" data-aos="flip-up" data-aos-delay="300" data-aos-duration="400">
				<div class="count-time">
					<h2 class="timer count-title count-number" data-to="10" data-speed="2000">10</h2>
					<p>Different<br>
						Sauces</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12" data-aos="flip-up" data-aos-delay="400" data-aos-duration="500">
				<div class="count-time">
					<h2 class="timer count-title count-number" data-to="12" data-speed="2000">12</h2>
					<p>Best<br>
						Restaurants</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12" data-aos="flip-up" data-aos-delay="500" data-aos-duration="600">
				<div class="count-time sp">
					<h2 class="timer count-title count-number" data-to="1" data-speed="2000">1</h2>
					<span>k+</span>
					<p>Food<br>
						Delivered</p>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- reviews-sections -->
<section class="reviews-sections gap">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl-6 col-lg-12" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
				<div class="reviews-content">
					<h2>What customers say about us</h2>
					<div class="custome owl-carousel owl-theme">
						{% for tes in test %}
						<div class="item">
							<h4>"{{tes.testimony}}".</h4>
							<div class="thomas">
								<img alt="photo" src="https://via.placeholder.com/70x70">
								<br>
								<div>
									<h6>{{tes.name}}</h6>
									{% for _ in ''|ljust:tes.stars  %}
									<i class="fa-solid fa-star"></i>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-12" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
				<div class="reviews-img">
					<img alt="photo" src="{% static 'images/ggg.jpg' %}">
					<i class="fa-regular fa-thumbs-up"></i>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- news-section -->
<section class="news-section gap">
	<div class="container">
		<h2>Latest news and blogs</h2>
		<div class="row">
			{% if most %}
			<div class="col-xl-6 col-lg-12" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
				<div class="news-posts-one">
					<a href="{% url 'single_blog' id=most.id %}">
						<img style="max-height: 500px;" alt="{{most.title}}" src="{{most.ImageURL}}">
						
					</a>
					
					<div class="quickeat">
						<a href="#">{{most.category}}</a>
					</div>
					<a href="{% url 'single_blog' id=most.id %}">
						<h3>{{most.title}}</h3>
						<p>{{most.content|safe|slice:":110"}}.....</p>
					</a>
					<!-- <p>{{most.content|safe|slice:":110"}}.....</p> -->
					<a href="{% url 'single_blog' id=most.id %}">Read More<i class="fa-solid fa-arrow-right"></i></a>
					<ul class="data">
						<li>
							<h6><i class="fa-solid fa-user"></i>{{most.publisher}}</h6>
						</li>
						<li>
							<h6><i class="fa-regular fa-calendar-days"></i>{{most.date}}</h6>
						</li>
						<li>
							<h6><i class="fa-solid fa-eye"></i>{{most.views}}</h6>
						</li>
					</ul>

				</div>
			</div>
			{% endif %}
			<div class="col-xl-6 col-lg-12" data-aos="flip-up" data-aos-delay="300" data-aos-duration="400">
				{% for blog in blogs %}
				<div class="news-post-two">
					<a href="{% url 'single_blog' id=blog.id %}"><img alt="{{blog.title}}" src="{{blog.ImageURL}}"></a>
					
					<div class="news-post-two-data">
						<div class="quickeat">
							<a href="#">{{blog.category}}</a>
						</div>
						<h6><a href="{% url 'single_blog' id=blog.id %}">{{blog.title}}</a></h6>
						<ul class="data">
							<li>
								<h6><i class="fa-solid fa-user"></i>{{blog.publisher}}</h6>
							</li>
							<li>
								<h6><i class="fa-regular fa-calendar-days"></i>{{blog.date}}</h6>
							</li>
							<li>
								<h6><i class="fa-solid fa-eye"></i>{{blog.views}}</h6>
							</li>
						</ul>
					</div>
				</div>
				{% endfor %}

			</div>

		</div>
	</div>
	</div>
</section>
<!-- subscribe-section -->
<section class="subscribe-section gap" style="background:#fcfcfc">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6" data-aos="flip-up" data-aos-delay="200" data-aos-duration="300">
				<div class="img-subscribe">
					<img alt="Illustration" src="{{sub.ImageURL}}">
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1" data-aos="flip-up" data-aos-delay="300" data-aos-duration="400">
				<div class="get-the-menu">
					<h2>Get latest updates about our products and promotions</h2>
					{% for m in messages %}
					<div class="alert alert-success" role="alert">
						{{m}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% endfor %}
					<form id="form">
						{% csrf_token %}
						<i class="fa-regular fa-bell"></i>
						<input id="email" type="text" name="email" placeholder="Enter email address">
						<button class="button button-2">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	$(document).on('submit', '#form', function (e) {
    e.preventDefault();
    $('.page-loader').fadeIn();
    var email = document.getElementById("email").value;
    $.ajax({
        type: 'POST',
        url: "{% url 'subscribe' %}",
        data:{
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'action': 'post',
            'email': email,
        },
        success: function (json) {
            location.reload();
			$('.page-loader').fadeOut();
        },
        error: function (xhr, errmsg, err) {

        }
})
});
</script>

{% endblock content %}