{% extends 'shop/base.html' %}

{% block content %}

{% load static %}
{% block meta %}<title>Products</title>{% endblock meta %}

<!-- hero-section -->
<section class="hero-section about gap" style="background-image: url(../../static/images/background-1.png);">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
				<div class="about-text">
					<ul class="crumbs d-flex">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li class="two"><a href="{% url 'products' %}"><i class="fa-solid fa-right-long"></i>Our
								Products</a>
						</li>
					</ul>

					<div class="rate">
						<span></span>

						<span>Product Categories:</span>
						<div class="cafa-button">
							{% for category in categories %}
							<a href="#">{{category}}</a>							
							{% endfor %}
						</div>
						<span></span>
						<p>{{details.big_text}}</p>
					</div>

				</div>
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
				<div class="about-img">
					<img alt="products" src="{{details.ImageURL}}">

				</div>
			</div>
		</div>
	</div>
</section>
<!-- tabs -->
<section class="tabs gap">

	<div class="container">
		<h2 style="font-weight: bold;" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">Our products</h2>

		<div class="tabs-img-back">

			<div class="row">

				<div class="col-lg-12">

					<div class="tab-content" id="v-pills-tabContent">

						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
							aria-labelledby="v-pills-home-tab">
							<div class="row">
								{% for product in product_objects %}
								<div class="col-xl-4 col-lg-6" data-aos="flip-up" data-aos-delay="200"
									data-aos-duration="300">

									<div class="dish">
											<img alt="food-dish" src="{{ product.imageURL }}">
											<div class="dish-foods">
												<a href="{% url 'detail' id=product.id %}">
													<h3>{{ product.title }}</h3>
												</a>
												<!-- <div class="dish-icon">
													<div class="cafa-button">
														<a href="{% url 'detail' id=product.id %}">View product</a>
													</div>
												</div> -->
												<div class="price">
													<h4 style="color: #B21807; font-weight: bold;">ZMW {{ product.price }}</h4>
													<div class="qty-input">
														<button class="qty-count qty-count--minus" data-action="minus"
															type="button">-</button>
														<input id="qty{{ product.id }}" class="product-qty"
															type="number" name="product-qty" min="0" value="1">
														<button class="qty-count qty-count--add" data-action="add"
															type="button">+</button>
													</div>
												</div>
												<button data-product="{{ product.id }}" data-action="add" id="add-cart" class="button-price">Add to Basket<i class="fa-solid fa-bag-shopping"></i>
												</button>
											</div>
									</div>
								</div>
								{% endfor %}

								<div class="row">
									<div class="col-md-3 offset-md-4">
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												{% if product_objects.has_previous %}
												<li class="page-item" style="color: #B21807;"><a class="page-link" href="?page=1" style="color: #B21807;">&laquo;
														First</a></li>
												<li class="page-item" style="color: #B21807;"><a class="page-link"
														href="?page={{product_objects.previous_page_number}}" style="color: #B21807;">previous</a>
												</li>

												{% endif %}
												{% for i in nums %}
												<li class="page-item " style="color: #B21807;"></li><a href="?page={{ forloop.counter }}"
													class="page-link" style="color: #B21807;">{{ forloop.counter }}</a></li>
												{% endfor %}

												<!-- <li class="page-item disabled"></li><a href="#" class="page-link"> Page {{ product_objects.number }} of {{ product_objects.paginator.num_pages }}</a></li>-->
												{% if product_objects.has_next %}
												<li class="page-item"><a class="page-link"
														href="?page={{product_objects.next_page_number}}">Next</a>
												</li>
												<li class="page-item"><a class="page-link"
														href="?page={{product_objects.paginator.num_pages}}">Last
														&raquo;</a></li>
												{% endif %}
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}